extends layout

block content

    div(class="top-block")

        div(class="menu-block")

            ul
                if (loggedUser)
                    li
                        if (loggedUser.provider == 'facebook')
                            a(class="btn btn-default btn-xs btn-social btn-facebook upload-smile-popup-link",href="/profile.html")
                                i(class="fa fa-facebook")
                                span= loggedUser.name
                        if (loggedUser.provider == 'vkontakte')
                            a(class="btn btn-default btn-xs btn-social btn-vk upload-smile-popup-link",href="/profile.html")
                                i(class="fa fa-vk")
                                span= loggedUser.name

                li
                    if (loggedUser)
                        a(class="btn btn-primary btn-xs upload-smile-popup-link",href="/upload.html")
                            i(class="glyphicon glyphicon-upload")
                            span Share your smile!
                    else
                        a(class="btn btn-primary btn-xs upload-smile-popup-link",href="/login.html")
                            i(class="glyphicon glyphicon-upload")
                            span Share your smile!

                li
                    if (loggedUser)
                        a(class="btn btn-default btn-xs",href="/logout.html")
                            i(class="glyphicon glyphicon-log-out")
                            span Logout
                    else
                        a(class="btn btn-default btn-xs upload-smile-popup-link",href="/login.html")
                            i(class="glyphicon glyphicon-log-in")
                            span Login

        div(class="logo-block")
            h1 SmileCity

        .clearfix

    div#smiles.clearfix

    div#pagination
        a(href="/page2/",class="next") next

    div#ya_share

    if (authFailure)
        div#authFailure(class="white-popup mfp-hide")
            h1 Authentication Failed
            p We were not able to login you. Please try again and accept permissions.
            p
                a(class="popup-modal-dismiss",href="#") Dismiss
