extends layout

block content

    a(class="btn btn-success upload-smile-popup-link",href="/upload.html")
        i(class="glyphicon glyphicon-plus")
        span Upload

    a(class="btn btn-success upload-smile-popup-link",href="/login.html")
        i(class="glyphicon glyphicon-plus")
        span Login



