doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="language",content="en")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",rel="stylesheet",media="screen")
        link(href="/css/style.css",rel="stylesheet")
        link(href="/css/magnific-popup.css",rel="stylesheet")

        script(src="//code.jquery.com/jquery-1.11.0.min.js",type="text/javascript")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js",type="text/javascript")
        script(src="/js/jquery.magnific-popup.min.js",type="text/javascript")
        script(src="/js/scripts.js",type="text/javascript")

        script(src="/js/file-upload/vendor/jquery.ui.widget.js")

        script(src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js")
        script(src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js")

        script(src="/js/file-upload/jquery.iframe-transport.js")
        script(src="/js/file-upload/jquery.fileupload.js")
        link(href="/css/jquery.fileupload.css",rel="stylesheet")

        script(src="/js/file-upload/jquery.fileupload-process.js")
        script(src="/js/file-upload/jquery.fileupload-image.js")
        script(src="/js/file-upload/jquery.fileupload-validate.js")

        script(src="/js/jquery-ias.min.js")
        script(src="/js/jquery.mosaicflow.min.js")

        script(src="//yandex.st/share/share.js")

    body

        block content