div(class="login-popup")
    h3 Login
    div.well To start using our service, please login by clicking button below.

    div
        a(href="/auth/facebook",target="_self")
            img(src="/img/login_with_facebook.png")