body {
    min-width: 300px;
}
a span {
    margin-left: 5px;
}

.upload-container {
    width: auto;
    padding-top: 15px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.login-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 750px;
    margin: 20px auto;
}

.white-popup h3 {
    margin-top: 0;
}

.top-block {
    width: 100%;
    position: fixed;
    display: block;
    z-index: 50;
}

.menu-block {
    float: right;
    margin: 15px 15px 0 0;
}

.logo-block {
    color: white;
    margin: 0 0 0 30px;
}

.menu-block ul li {
    float: left;
    list-style: none;
    margin-left: 5px;
}

.mosaicflow__column {
    float: left;
}

.smile-item img {
    display: block;
    width: 100%;
    height: auto;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

.mfp-title {
    padding-right: 10px;
}
